<!-- <br> -->
<!-- <app-register-form></app-register-form> -->
<!-- <br> -->
<!-- <app-admin-login></app-admin-login> -->
<!-- <br> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="hoooo">
<div *ngIf="!isUserSideRoute()">
<nav class="navbar navbar-expand-lg navbar-light-grey">
  <a class="navbar-brand" href="#" style="color:black;margin-left: 20px;">
    <img src="https://tse3.mm.bing.net/th?id=OIP.TJJTxiixW65leEedhm1q7wHaHa&pid=Api&P=0&h=180" height="25" style="border-radius: 10px;margin-right: 10px;" class="logo-image">Hospital Management - Admin
  </a>
  <style>
    .navbar-light-grey {
      background-color: lightgrey;
    }
  </style>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="slide">
      <mat-slide-toggle class="dark-mode-toggle" (change)="toggleDarkMode()">Dark Mode</mat-slide-toggle>
  </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="doctorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doctors
        </a>
        <div class="dropdown-menu" aria-labelledby="doctorsDropdown">
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors">Details</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors/:id">Fetch</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors/create">Add</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors/:id/edit">Update</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors/:id/delete">Delete</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="doctors/:id/patientcount">Patient count</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="patientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Patients
        </a>
        <div class="dropdown-menu" aria-labelledby="patientsDropdown">
          <a class="dropdown-item" href="#" style="color:black;" routerLink="patients">Details</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="patients/:id">Fetch</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="patients/create">Add</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="patients/:id/edit">Update</a>
          <a class="dropdown-item" href="#" style="color:black;" routerLink="patients/:id/delete">Delete</a>
        </div>
      </li>
      <app-search-bar></app-search-bar>
    </ul>
  </div>
</nav>
</div>
</div>

<br>

<script>
  $(document).ready(function() {
    $('.dropdown-toggle').on('click', function(e) {
      if ($(this).parents('.dropdown').hasClass('show')) {
        $(this).parents('.dropdown').removeClass('show');
        $(this).attr('aria-expanded', 'false');
      } else {
        $(this).parents('.dropdown').addClass('show');
        $(this).attr('aria-expanded', 'true');
      }
      e.preventDefault();
    });

    $(document).on('click', function(e) {
      if ($(e.target).closest('.dropdown').length === 0) {
        $('.dropdown').removeClass('show');
        $('.dropdown-toggle').attr('aria-expanded', 'false');
      }
    });
  });
</script>
<br>
<router-outlet></router-outlet>
