<div class="container">
  <div class="card-wrapper">
    <div class="card" *ngFor="let doctor of doctors; let i = index">
      <div class="card-content">
        <div class="image">
          <img [src]="imageClasses[i]" alt="" class="fixed-image-size">
        </div>
        <div class="name-profession">
          <span class="name" *ngIf="!doctor.editMode">{{ doctor.doctor_Name }}</span>
          <input class="name" [(ngModel)]="doctor.doctor_Name" *ngIf="doctor.editMode" />
          <br>
          <span class="profession" *ngIf="!doctor.editMode">Specialization: {{ doctor.specialization }}</span>
          <input class="profession" [(ngModel)]="doctor.specialization" *ngIf="doctor.editMode" />
          <br>
          <span class="profession" *ngIf="!doctor.editMode">Phone Number: {{ doctor.doctor_No }}</span>
          <input class="profession" [(ngModel)]="doctor.doctor_No" *ngIf="doctor.editMode" />
          <br>
        </div>
        <div class="button">
          <button *ngIf="!doctor.editMode" class="edit" (click)="enableEditMode(doctor)">Edit</button>
          <button *ngIf="doctor.editMode" class="edit" (click)="updateDoctor(doctor)">Save</button>
          <button class="delete" (click)="deleteDoctor(doctor)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
