<div class="container">
  <div class="card-wrapper">
    <div class="card" *ngFor="let patient of patients">
      <div class="card-content">
        <div class="image">
          <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt="">
        </div>
        <div class="media-icons">
        </div>

        <div class="name-profession">
          <span class="name">{{ patient.patient_Name }}</span>
          <span class="profession">{{ patient.disease }}</span>
          <span class="profession">{{ patient.email }}</span>
          <span class="profession">{{ patient.patient_No }}</span>
        </div>

        <div class="rating">
        </div>

        <div class="button">
          <button class="aboutMe">Edit</button>
          <button class="hireMe">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
