.container {
    max-width: 900px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
  }
  
  .table th {
    background-color: rgb(217, 127, 9);
    padding: 12px;
    text-align: center;
  }
  
  .table td {
    padding: 12px;
    text-align: center;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #e6e6e6;
  }
  